body{
	background-image: url("../images/Wembly-Stadium_T1.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	
}
.container{
	background-image: url("../images/logo.jpg");
	background-size: cover;
	width:100%;
	opacity: 0.95;
	
}
.name1{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size:50px;
	border: 5px groove white;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #1785BC;
	opacity: 0.95;
	color:white;
	display: none;
}
.card1{
	text-align: center;
	size:50px;
	display:none;
}
.name2{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size:50px;
	display:none;
	border: 5px groove white;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #1785BC;
	opacity: 0.95;
	color:white;
	
}
.card2{
	text-align: center;
	display:none;
}
.boton-container{
	text-align: center;
}
.brandom{
	width: 180px;  
    height: 180px;
    border-radius: 100px;
    background-image: url("../images/balon.jpg");
    background-size:cover;
	background-position-y: 5px;
	margin-top: 20px;
    color: black;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bsiguiente{
	width: 180px;  
    height: 180px;
    border-radius: 100px;
    background-image: url("../images/balon.jpg");
    background-size:cover;
	background-position-y: 5px;
	margin-top: 20px;
    color: black;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.transicion{
	display:none;
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size:50px;
	color:white;
	margin-top:40px;
}
.start{

	font-family: 'Bangers', cursive;
    font-size:100px;
    color:white;
    text-align: center;
	text-shadow: -1px 0 #2B9818  , 0 1px #2B9818  , 1px 0 #2B9818  , 0 -1px #2B9818  ;
	margin-bottom: 30px;
	margin-top:15px;
}
.random{
	margin-top: 20px;
	display:none;
	font-family: 'Bangers', cursive;
	text-align: center;
	color: white;
	font-size:100px;
	text-shadow: -1px 0 #2B9818  , 0 1px #2B9818  , 1px 0 #2B9818  , 0 -1px #2B9818  ;
}
.luck{
	margin-top: 20px;
	display:none;
	font-family: 'Bangers', cursive;
	text-align: center;
	color: white;
	font-size:100px;
	text-shadow: -1px 0 #2B9818  , 0 1px #2B9818  , 1px 0 #2B9818  , 0 -1px #2B9818  ;
}
.logo{
    
	height: 350px;
	border-radius: 80px;
    text-align: center;
	background-color: azure;
	opacity: 0.98;
}
.bstart{
	width: 180px;  
    height: 180px;
	border-radius: 100px;
	text-align: center;
    background-image: url("../images/balon.jpg");
    background-size:cover;
	background-position-y: 5px;
	margin-top: 20px;
    color: black;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#skill-container{
	background-color: #1785BC;
	opacity: 0.95;
	border:1px solid white;
	border-radius: 50px;
}
.playerTransition{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size:50px;
	border: 5px groove white;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #1785BC;
	opacity: 0.95;
	color:white;
}
.bsorteo{
	width: 100px;  
    height: 100px;
	border-radius: 100px;
    background-image: url("../images/moneda2.jpg");
    background-size:cover;
	background-position-x: -22px;
	margin-top: 20px;
    color: black;
}
.bsiguiente2{
	width: 180px;  
    height: 180px;
	border-radius: 100px;
	text-align: center;
    background-image: url("../images/balon.jpg");
    background-size:cover;
	background-position-y: 5px;
	margin-top: 20px;
    color: black;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.resultChance{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size:50px;
	border: 5px groove white;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #1785BC;
	opacity: 0.95;
	color:white;
}
.partialResult{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size:30px;
	border: 5px groove white;
	border-radius: 50px;
	margin-top:50px;
	background-color: #1785BC;
	opacity: 0.95;
	color:white;
	display:none;
}
.selected{
	display:none;
}
.bRonda2{
	width: 180px;  
    height: 180px;
    border-radius: 100px;
    background-image: url("../images/balon.jpg");
    background-size:cover;
	background-position-y: 5px;
	margin-top: 20px;
    color: black;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	display:none;
	position: relative;
	left: 450px;
}
.final{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size:30px;
	border: 5px groove white;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #1785BC;
	opacity: 0.95;
	color:white;
	display:none;
	height: 200px;

}